{
  "username": "airlineapp",
  "password": "GENERATED_BY_TERRAFORM",
  "database": "airline",
  "host": "GENERATED_BY_TERRAFORM",
  "port": "5432",
  "database_url": "postgresql://airlineapp:GENERATED_BY_TERRAFORM@GENERATED_BY_TERRAFORM:5432/airline"
}
